Traces_Base.zip filter=lfs diff=lfs merge=lfs -text
Traces_Base_Shield.zip filter=lfs diff=lfs merge=lfs -text
Traces_Higher_Penalty_Collision.zip filter=lfs diff=lfs merge=lfs -text
Traces_Higher_Penalty_Collision_Shield.zip filter=lfs diff=lfs merge=lfs -text
models/ filter=lfs diff=lfs merge=lfs -text
models/highway_dqn/higher_col_penalty/trained_model.zip filter=lfs diff=lfs merge=lfs -text
models/highway_dqn/BASE/trained_model.zip filter=lfs diff=lfs merge=lfs -text
